<% unless current_user?(@user) %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>  <!-- Renders the unfollow partial -->
    <% else %>
      <%= render 'follow' %>    <!-- Renders the follow partial -->
    <% end %>
  </div>
<% end %>