<li id="micropost-<%= micropost.id %>">
  <strong><%= micropost.user.name %>:</strong>
  <%= micropost.content %>
  <%= link_to "Delete", micropost, method: :delete, data: { turbo_method: :delete }, class: "btn btn-danger" %>
</li>